.aboutPage {
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #e4e4e2;
    margin: 0.25rem;
    transition: 0.5s;
    font-size: 1.15rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}