.addTask {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2px;
}

.ant-btn {
    margin: 2px;
}

.Input1 {
    margin-left: 700px;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 2px;
}